<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('CLIENTES')}"></head>
<body>
    <header th:replace="~{fragmentos :: header('Cliente ' + ${cliente.id} + ': ' + ${cliente.nome})}"></header>
    <main>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <b>NOME: </b> <span th:text="${cliente.nome}"></span><br/>
                    <b>PF/PJ: </b> <span th:text="${cliente.tipoPessoa.toString()}"></span><br/>
                    <b>CPF/CNPJ: </b> <span th:text="${cliente.documento}"></span><br/>
                    <b>EMAIL: </b> <span th:text="${cliente.email}"></span><br/>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-outline-primary btn-sm" href="/clientes">Lista de cliente</a>
                </div>

            </div>
        </div>

    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>